.container {
  padding: 3rem;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.resultContainer{
  display: flex;
  justify-content: right;
}
.Total {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--mainBlack);
}
