:root{
  --primaryColor: lightblue;
  --secondColor: rgb(243, 192, 116);
  --mainColor: #fff;
  --mainBlack: #222;
  --mainRed:#c45151;
  --ButtonColor: lightcoral;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--secondColor);
  color: var(--mainBlack);
}
h1 {
  margin: 1rem 0;
  color:var(--mainBlack)
}